/* .container {
    background-color: rgb(187, 228, 218);
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;

  } */

  /* .img {
    text-align: center;
  } */
  
  /* .img img {
    width: 80%;
    max-width: 300px;
    border-radius: 50%;
    margin: 0 auto;
  } */
/*   
  .h1 h1 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }
   */
  /* .button button {
    display: block;
    margin: 0 auto;
    height: 60px;
    border-radius: 10px;
    width: 70%;
    max-width: 300px;
  } */
  
  /* .button img {
    width: 50px;
  } */
  
  .h2 img {
    width: 50px;
  }
  
  .h2 h2 {
    font-size: large;
    text-align: center;
    margin-top: 10px;

  }
  
  .starImage {
    display: flex;
    justify-content: center;
  }
  
  .starImage img {
    width: 30px;
    margin: 0 5px;
  }